<html>
  <div class="centerAlign">
    <header>
      <h1>Medical List</h1>
    </header>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="columns">
    <div class="column"></div>
    <div class="column centerAlign">
      <a (click)="openLogin()">
        <p>Login</p>
      </a>

      <img
        src="https://www.freepnglogos.com/uploads/button-png/small-button-clip-art-clkerm-vector-clip-art-37.png"
      />

      <div id="loginModal" class="modal">
        <div class="modal-content" style="text-align: center;">
          <span class="close" (click)="closeLogin()">&times;</span>
          <app-login></app-login>
        </div>
      </div>
    </div>

    <div class="column centerAlign">
      <a (click)="openRegister()">
        <p>Register</p>
      </a>

      <img
        src="https://www.freepnglogos.com/uploads/button-png/small-button-clip-art-clkerm-vector-clip-art-37.png"
      />

      <div id="registerModal" class="modal">
        <div class="modal-content" style="text-align: center;">
          <span class="close" (click)="closeRegister()">&times;</span>
          <app-register></app-register>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</html>
