body {
  background-color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  /* from the top and centered */
  padding: 3%;
  padding-top: 1%;
  border: 2px solid #888;
  width: 42%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  line-height: 12px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
}

/* Avatar image */
img.avatar {
  width: 53%;
  border-radius: 50%;
}

html {
  background-color: teal;
  background-image: url("https://wallpapersmug.com/download/1920x1080/c066e0/blue-abstract-wave-flow-minimalist.jpg");
  height: 100%;
  max-height: 100%;
  margin: 0;
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.centerAlign {
  text-align: center;
}

h1 {
  color: #cef0d4;
  font-family: "Rouge Script", cursive;
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  margin-top: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

p {
  position: relative;
  top: 130px;
  color: white;
  font-size: 40px;
}
