<div style="text-align:center">
  <div class="columns is-centered">
    <div class="column">
      <!-- Error message for succes -->
      <div *ngIf="successShown" class="notification is-success">
        Login successful!
      </div>

      <!-- Error message for failure -->
      <div *ngIf="errorShown" class="notification is-danger">
        Login failed!
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            required
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <!-- Email validator -->
        <p *ngIf="isEmailError" class="help is-danger">
          Your email is not an email.
        </p>
      </div>

      <!-- Input field for password -->
      <div class="field">
        <br />
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter your password"
          />
          <!-- Icon -->
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
      </div>

      <!-- blank space -->
      <br />

      <!-- Buttons login / forgot -->
      <div class="control" style="text-align: center">
        <!-- Action listener on login -->
        <a class="button is-info" (click)="onClickLogin()">Login</a>
      </div>

      <!-- New account -->
      <div>
        <body>
          Need an account?
          <a class="button" (click)="openRegister()" span class="blue"
            >Sign up!</a
          >
        </body>
      </div>
    </div>
  </div>
</div>
