<html>
  <div class="centerAlign">
    <header>
      <h1>Medical List</h1>
    </header>
  </div>

  <div class="centerAlign">
    <header>
      <h2>Patients Data</h2>
    </header>
  </div>

  <br />
  <br />

  <div class="centerAlign">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- secondName Column -->
      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Second Name</th>
        <td mat-cell *matCellDef="let element">{{ element.secondName }}</td>
      </ng-container>

      <!-- sex Column -->
      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
        <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
      </ng-container>

      <!-- adress Column -->
      <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adress</th>
        <td mat-cell *matCellDef="let element">{{ element.adress }}</td>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <!-- postal Column -->
      <ng-container matColumnDef="postal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Postal</th>
        <td mat-cell *matCellDef="let element">{{ element.postal }}</td>
      </ng-container>

      <!-- birthday Column -->
      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthday</th>
        <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
      </ng-container>

      <!-- diagnosis Column -->
      <ng-container matColumnDef="diagnosis">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnosis</th>
        <td mat-cell *matCellDef="let element">{{ element.diagnosis }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</html>
