table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

html {
  background-color: teal;
  background-image: url("https://wallpapersmug.com/download/1920x1080/c066e0/blue-abstract-wave-flow-minimalist.jpg");
  height: 100%;
  max-height: 100%;
  margin: 0;
  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.centerAlign {
  text-align: center;
}

h1 {
  color: #cef0d4;
  font-family: "Rouge Script", cursive;
  font-size: 80px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  margin-top: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

h2 {
  color: #cef0d4;
  font-family: "Rouge Script", cursive;
  font-size: 50px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  margin-top: 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}
