<div style="text-align:center">
  <div class="columns is-centered">
    <div class="column">
      <!-- Error message for succes -->
      <div *ngIf="successShown" class="notification is-success">
        Account registered successfully!
      </div>

      <!-- Error message for failure -->
      <div *ngIf="errorShown" class="notification is-danger">
        Register failed!
      </div>

      <!-- Input field for username -->
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="username"
            name="username"
            [(ngModel)]="username"
            placeholder="Enter your username"
            required
          />

          <!-- Icon -->
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <!-- Input field for password -->
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter your password"
            required
          />

          <!-- Icon -->
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
        </div>
        <!-- Password validator -->
        <p *ngIf="isPasswordError" class="help is-danger">
          Your password must be between 8 and 16 characters.
        </p>
      </div>

      <!-- Input field for email -->
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            required
          />

          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <!-- Email validator -->
        <p *ngIf="isEmailError" class="help is-danger">
          Your email is not an email.
        </p>
      </div>

      <br />
      <div class="control" style="text-align: center">
        <a class="button is-info " (click)="onClickRegister()">Register</a>
      </div>
    </div>
  </div>
</div>
